*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1;
    width: 70%;
    max-width: 900px;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    padding-top: 20px;
    background-color: red;
    border-radius:3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    aspect-ratio: 1;
    background-color: #ccc;
}

.settings {
    padding-bottom: 10px; 
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1 1 auto;
    width: 0;
    min-height: 0;
}

.hovered-square {
    background-color: #0a0a0a;
}

h1, button {
    padding: 10px;
}

button {
    background-color: red;
}

